*{ margin: 0px;
    padding: 0px; }

div{ background-color: green;
    color: greenyellow;
    padding: 20px; } 

h1,ul,li,a{ display: inline;
         text-decoration: none; }
        
li{ padding-left:30px; 
    color: greenyellow; 
   } 

ul{ margin-left:50% ;
    color: greenyellow; }

h1{ margin-left: 20px; }

li:hover{ color: white;
          cursor: pointer; }
 
h1:hover{ color: white;
            cursor: pointer; }
         
img{ width:100%;
    height: 350px; }

.topic1{ color: green;
         padding: 10px;
         margin-top: 10px;
         padding-left: 40%; }

.topic2{ color:green;
         padding: 10px;
         margin-top: 10px;
         padding-left: 40%; }

p{ margin: 10px; }

